html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, p, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol,
fieldset, form, label, legend,
 caption, tfoot, thead, 
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0 auto;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: center;
    font-family: 'another_typewriterregular';
    text-align: center;
    background-color: blanchedalmond;
    color: #181919;
    
    
}

@font-face {
    font-family: 'another_typewriterregular';
    src: url('../fonts/atwriter-webfont.woff2') format('woff2'),
         url('../fonts/atwriter-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* html5 for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section { 
    display: block;
}

footer {
    font-size: 24px;
    padding-bottom: 10px;
}


/*nav stylings*/

nav {
    padding-bottom: 50px;
    width: 100%;
}

nav ul {
   
   margin: 0;
   padding: 0;
   overflow: hidden;
   width: 100%; 
}

nav li {
    display: inline-block;
    width: 200px; 
    text-align: center;
    font-size: 24px;
    border: solid 3px #523832;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;  
    padding-bottom: 10px;
       
}

nav a {
    text-decoration: none;
 
}



nav li:hover, nav a:hover {
    background-color: #A59BDE;
}



/* hours styling */
.hours table {
    margin: 0 auto;
    
    
}
.hours {
    border: solid 3px #523832;
    max-width: 300px;
    margin: 0 auto;
    padding-top: 30px;
    background-color: #A59BDE; 
}
.hours h2 {
    font-size: 18px;
    background-color: #A59BDE;
}
tr, th, td, table {
    margin: 0;
	padding-top: 40px;
    padding-bottom: 25px;
    padding-left: 10px;
    padding-right: 10px;
	font-size: 100%;
	vertical-align: center;
    font-family: 'another_typewriterregular';
    text-align: center;
}



/* about styling*/

.about {
    min-width: 250px;
    max-width: 450px;
    margin: 0 auto;
    padding-bottom: 25px;
}

.about h2 {
    font-size: 22px;
    padding-bottom: 25px;
    padding-top: 25px;
}

.owner {
    padding-top: 50px;
}

picture img {
    border: solid 10px #A59BDE;
}

/* products styling */

.products {
    font-size: 20px;
    width: 60%;
    margin: 0 auto;
    border: solid 5px purple;
}

.products h2 {
    background-color: #A59BDE;
    padding-top: 10px;
}

.products div {
    background-color: #A59BDE;
    padding-top: 30px;
}

.products picture {
    border: solid 5px purple;
}

.america h2 {
    padding-bottom: 30px;
}

/* contact styling */

.contactinfo h2 {
    padding: 15px;
}


/* nav media query for aesthetic */
@media only screen and (max-width: 850px) {
    nav li {
        display: block;
        margin: 0 auto;
    }
}


/* desktop grid styles */
@media only screen and (min-width: 1050px) {

/* first index div grid styling */
.flex-container {
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 300px 300px;
    padding-top: 50px;
    place-content: center;
    width: 100%;

}
/*second index div grid styling */
.flex-container2 {
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 300px 300px;
    place-content: center;
    width: 100%;
}

/* contact div grid styling */
.flex-container3 {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 300px 100px 150px;
    place-content: center;
    width: 100%;
}

}




