html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, p, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: center;
    font-family: 'another_typewriterregular';
    text-align: center;
    
    
}

@font-face {
    font-family: 'another_typewriterregular';
    src: url('../fonts/atwriter-webfont.woff2') format('woff2'),
         url('../fonts/atwriter-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* html5 for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section { 
    display: block;
}


/*nav stylings*/
ul {
   
   margin: 0;
   padding: 0;
   overflow: hidden;
   width: 100%;
   
}
li {

    text-align: center;
    font-size: 24px;
    display: inline-block;
  
    
}

a {
    text-decoration: none;
    display: block;
    padding: 10px;
}

/* hours styling */
.hours table {
    margin: 0 auto;
}

